/* responsive 600 */
@media screen and (max-width: 600px) {
  .home__flex {
    gap: 2rem;
    /* grid-template-areas: 
      "box-uno box-uno box-uno"
      "box-dos box-dos box-dos"
      "box-tres box-tres box-tres" ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bx-menu {
    opacity: 1;
    left: 10px;
    top: 10px;
  }
  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 220px;
    margin: 0;
    min-height: 100%;
  }
  .logo{
width: 120px;
  }

  h1 {
    font-size: 25px;
  }
  .box-uno {
    margin-top: 3rem;
    gap: 1rem;
  }
  .box-tres {
    width: 100%;
    gap: 0.5rem;
  }
  .input__label {
    font-size: 15px;
  }
  .btn__ocultar{
    display: none;
  }
  .table__proporcion{
    width: 100%;
  }
}
/* responsive 520 */
@media screen and (max-width: 520px) {
  .home__flex {
    gap: 2rem;
    /* grid-template-areas: 
      "box-uno box-uno box-uno"
      "box-dos box-dos box-dos"
      "box-tres box-tres box-tres" ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bx-menu {
    opacity: 1;
    left: 10px;
    top: 10px;
  }
  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 190px;
    margin: 0;
    min-height: 100%;
  }
  .logo{
width: 120px;
  }

  h1 {
    font-size: 25px;
  }
  .box-uno {
    margin-top: 3rem;
    gap: 1rem;
  }
  .box-tres {
    width: 100%;
    gap: 0.5rem;
  }
  .input__label {
    font-size: 15px;
  }
}
/* responsive 480 */
@media screen and (max-width: 480px) {
  .home__flex {
    gap: 2rem;
    /* grid-template-areas: 
        "box-uno box-uno box-uno"
        "box-dos box-dos box-dos"
        "box-tres box-tres box-tres" ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bx-menu {
    opacity: 1;
    left: 10px;
    top: 10px;
  }
  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 200px;
    margin: 0;
    min-height: 100%;
  }

  h1 {
    font-size: 25px;
  }
  .box-uno {
    margin-top: 2rem;
  }
  .box-tres {

    width: 100%;
    gap: 0.5rem;
  }
  .input__label{
    font-size: 14px;
  }
  .logo{
    width: 110px;
      }
}
/* responsive 350px */
@media screen and (max-width:350px) {
  .table__proporcion {
    width: 90%;
    padding: 1rem;
  }
}
