/* responsive 600 */
@media screen and (max-width: 600px) {
  .home__flex {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 220px;
    margin: 0;
    min-height: 100%;
  }
  .logo{
width: 120px;
  }

  h1 {
    font-size: 25px;
  }
  .box-uno {
    margin-top: 7rem;
    gap: 1rem;
  }
  .box-tres {
    width: 100%;
    gap: 0.5rem;
  }
  .input__label {
    font-size: 15px;
  }
  .btn__ocultar{
    display: none;
  }
  .table__proporcion{
    width: 100%;
  }
  .table__varilla{
    flex-direction: row;
    justify-content: space-around;
  }
}
/* responsive 520 */
@media screen and (max-width: 520px) {
  .home__flex {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bx-menu {
    opacity: 1;
   margin-right:2px;
    margin-top: 2px;
  }
  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 190px;
    margin: 0;
    min-height: 100%;
  }
  .logo{
width: 120px;
  }

  h1 {
    font-size: 25px;
  }
  .box-uno {
    gap: 1rem;
  }
  .box-tres {
    width: 100%;
    gap: 0.5rem;
  }
  .input__label {
    font-size: 15px;
  }
}
/* responsive 480 */
@media screen and (max-width: 480px) {
  .home__flex {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* menu amburguesa */
  .home__navBar {
    z-index: 4;
    position: absolute;
    width: 200px;
    margin: 0;
    min-height: 100%;
  }

  h1 {
    font-size: 25px;
  }
 
  .box-tres {

    width: 100%;
    gap: 0.5rem;
  }
  .input__label{
    font-size: 14px;
  }
  .logo{
    width: 110px;
      }
      .box-uno {
        gap: 1rem;
        margin-top: 13rem;
      }
}
/* responsive 350px */
@media screen and (max-width:350px) {
  .table__proporcion {
    width: 90%;
    padding: 1rem;
  }
  .input__label{
    font-size: 12px;
  }
  button {
    font-size: 13px;
    background: #000;
  }
  .box-uno {
    /* margin-top: 20rem; */
  }
  }

